MONGO_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
JWT_TOKEN=your_jwt_signing_key

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=https://chat-steel-eta.vercel.app

FRONTEND_URL=https://chat-steel-eta.vercel.app
BACKEND_URL=https://my-app1111.bonto.run

PORT=5001
